! URxvt

! General settings
URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.termName: xterm-256color
URxvt.urgentOnBell: true
URxvt.cursorBlink: true
URxvt.iso14755 : false

! Extensions
URxvt.perl-ext-common: default,matcher,clipboard
URxvt.url-launcher: xdg-open
URxvt.underlineURLs: True
URxvt.matcher.button: 1

! Keybindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Font
URxvt.font: xft:Noto\ Mono\ for\ Powerline:size=10

! Transparency
URxvt.depth: 32

! Colors
URxvt.foreground:  #D8DEE9
URxvt.background:  [95]#2E3440
URxvt.cursorColor: #D8DEE9
URxvt.color0:      #3B4252
URxvt.color1:      #BF616A
URxvt.color2:      #A3BE8C
URxvt.color3:      #EBCB8B
URxvt.color4:      #81A1C1
URxvt.color5:      #B48EAD
URxvt.color6:      #88C0D0
URxvt.color7:      #E5E9F0
URxvt.color8:      #4C566A
URxvt.color9:      #BF616A
URxvt.color10:     #A3BE8C
URxvt.color11:     #EBCB8B
URxvt.color12:     #81A1C1
URxvt.color13:     #B48EAD
URxvt.color14:     #8FBCBB
URxvt.color15:     #ECEFF4
